/* 头像 */
.headimg img {
  border-radius:50%;
  margin-bottom: -10px;
}

/* 定义菜单栏和文件的间距*/
.main, .masthead {
  padding: 1em 37px;
}

/* 定义背景色 */
@media screen and (min-width: 960px) {
  html {
    background: #fafafa
  }

  body {
    background: #fff
  }
}

.copyright a, .menu li:not([class]) a, a:hover {
  border-bottom: none
}

.main {
  hyphens: auto
}

.main, .masthead {
  padding: 1em 37px;
}

.en .main header ~ p:first-of-type::first-line {
  font-variant: small-caps;
  letter-spacing: .05em;
  font-size: 1.1em
}

.en .main header ~ p:first-of-type::first-letter {
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em
}

code {
  hyphens: none
}

iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto
}

#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em
}

table {
  min-width: 50%;
  max-width: 100%;
  margin: auto
}

pre .nohighlight {
  background-color: transparent
}

.hljs-comment {
  font-style: inherit
}

.hljs {
  padding: 1em
}

.home hr {
  margin: 2em auto 1em
}

.masthead img {
  max-width: 80px
}

@media print {
  .masthead, del, footer {
    display: none
  }

  body {
    max-width: 700px
  }

  .main {
    margin-left: 0;
    border-left: none;
    padding-left: 10px
  }
}

/* 自定义图片 */
img {
  max-height:400px;
}

/* 定义Tag标签的样式 */
.post-meta {
    text-align: center;
    margin: 0;
    height: 20px;
    margin-top: 14px;
    display: block;
    line-height: 2.2rem;
    word-wrap: break-word;
    font-size: 1.3rem;
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.post-meta .post-author {
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
    color: #9EABB3;
}

.post-meta a {
    background: transparent;
    padding: 2px 7px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-right: 3px;
    color: #9EABB3;
    border: #E3E9ED 1px solid;
    transition: color 0.3s ease;
}

.post-meta a:hover {
  text-decoration: underline;
}

/* 清除ul、li的默认样式*/
.clear-ul {
    list-sytle: none;
    list-style-type: none;
    display: inline-block;
}
